remote:
    host: "fb"
    user: "shuntasaito"
    path: "/data/users/shuntasaito/chainer-cifar10"
behaviour:
    uploadOnSave: true
    syncDownOnOpen: false
    forgetConsole: false
    autoHideConsole: true
    alwaysSyncAll: false
option:
    deleteFiles: false
    exclude: [
        ".sync-config.cson"
        '.remote-sync.json'
        ".git"
        "node_modules"
        "tmp"
        "vendor"
        "utils/build"
        "utils/*.so"
    ]
